<section>
  <h1>Ember JS</h1>
  <h3>From a QF Perspective</h3>
</section>

<section>
  <h2>QF Perspective</h2>
  <h3>We'll go over</h3>
  <ul>
    <li>Bindings</li>
    <li>Observers and Computed Properties</li>
    <li>Components</li>
    <li>Composing Components</li>
    <li>Gotchas</li>
  </ul>
</section>

{{view EP.SimpleBindingSlideView}}

{{view EP.CascadeBindingSlideView}}

<section>
  <h2>Bindings</h2>
  <h3>Remeber</h3>
  <ol>
    <li>To use @set or @setProperties</li>
    <li>Prefer to use implicit field bindings over explicit setting</li>
    <li>Use singleton model instances for automatic view updates</li>
  </ol>
</section>

{{view EP.ObserversSlideView}}

{{view EP.ComputedPropertiesSlideView}}

<section>
  <h2>Observers &amp; Computed Properties</h2>
  <h3>Remeber</h3>
  <ol>
    <li>Prefer @get when accessing object fields</li>
    <li>Add 'Ember.computed' to fields that are calculated</li>
    <li>Generally prefer computed props over observers, especially if value depends on more than one field</li>
  </ol>
</section>

{{view EP.ComponentsSlideView}}

<section>
  <h2>Components</h2>
  <h3>Remeber</h3>
  <ol>
    <li>Use double quotes in handlebars</li>
    <li>Delegate view params to controller</li>
    <li>Binding classNames from controller to view</li>
    <li>Sometimes it's simplier to drop the controller</li>
  </ol>
</section>

{{view EP.ComposingComponentsSlideView}}

<section>
  <h2>Composing Components</h2>
  <h3>Remeber</h3>
  <ol>
    <li>To prefix bindings with 'view' when accessing a view's field</li>
    <li>Every view has a controller, defaults to parent view's controller</li>
  </ol>
</section>

{{view EP.GotchasSlideView}}

<section>
  <h2>Brought to you by Ember.JS &amp; Reveal.JS</h2>
  <p>This Ember app was created using the patterns presented</p>
  <ul>
    <li>Lite hacking was done to make Reveal play nice with Ember</li>
    <li>Vertical slide groups are individual views</li>
    <li>Slide groups were composed together into one large index view</li>
    <li>
      <a href="https://github.com/hcnguyen5/ember-presentation" target="_blank">Available for your forking pleasure</a>
    </li>
  </ul>
</section>
